<?xml version="1.0"?>
<model>
  <name>Tray WRC</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Nobuyuki Matsuno</name>
    <email>xr-hsr-support@mail.toyota.co.jp</email>
  </author>

  <description>
    Tray for WRC competition. Distributed under Creative Commons Attribution 4.0 International (CC BY 4.0) license.
  </description>
</model>
