<?xml version="1.0"?>
<model>
  <name>trofast</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>Nobuyuki Matsuno</name>
    <email>xr-hsr-support@mail.toyota.co.jp</email>
  </author>

  <description>
    Distributed under Creative Commons Attribution 4.0 International (CC BY 4.0) license.
  </description>
</model>
