<?xml version="1.0"?>
<model>
  <name>trofast_knob</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <author>
    <name>Nobuyuki Matsuno</name>
    <email>nobuyuki_matsuno@mail.toyota.co.jp</email>
  </author>

  <description>
    trofast with knob
  </description>
</model>
